<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project Titile</title>

  </head>
  <link rel="stylesheet" href="mainPage.css">
  <body>
    <div class="TopBar">
          <h1>What's up!</h1>
      <a class="active" href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <form action="{{ url_for('search') }}" class="form" method="POST">
        <input type="text" placeholder="Search.." name = 'search'>
        <input type=submit>

      </form>
    </div>


    <div class="News">
      <h3>Top News</h3>
      <p>read more</p>
    </div>
    <div class="Twit">
      <h3>Top Twitter Posts</h3>

    </div>
    <div class="Youtube">
      <h3>Youtube Video Results</h3>

    <table>
    <tr>
    <th>Title</th>
    <th>Id</th>
    </tr>
    {% for video in videos %}
        <tr>
        {% for item in video %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>


  <iframe src="http://www.youtube.com/embed/{{ video }}"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>

  </body>
</html>